@import url('https://fonts.googleapis.com/css2?family=Ranga:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
}
body{
    background-color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-barra{
    background-color: #0A0A0A; 
    gap: 1rem;
    display: flex;
    align-items: center;
    height: 7.5vh;
    padding: 1rem 2rem;
    top: 0;
    left: 0;
    width: 100%;
    
   
}

#header-barra picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-barra nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
}
#header-barra nav a{
    color: whitesmoke;
    text-decoration: none;
}

/* Seccion Primaria */
#section-principal{
    display: flex;
    flex-direction: row;
    color: black;
    padding: 4rem 8rem;
    
}

#section-principal h2{
    display: flex;
    padding: 2rem 4rem;
    border: none;
    align-items: center;
    justify-content: center;
}

#section-principal p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}


#section-principal img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




/* Seccion Secundaria */

#section-secundaria{
        display: flex;
        flex-direction: row;
        color: black;
        padding: 4rem 8rem;
}





